{% extends 'base.html' %}

{% block title %}Add Grade{% endblock %}

{% block content %}

  <form action="/grade-add", method="POST">
    Select Student: <select name="student">
      {% for student in students%}
        <option value="{{student[3]}}">{{student[1]}} {{student[2]}}</option>
      {% endfor %}
    </select><br><br>

    Select Project: <select name="project">
      {% for project in projects%}
        <option value="{{project[1]}}">{{project[1]}}</option>
      {% endfor %}
    </select><br><br>

      Enter Grade: <input type="text" name="grade"><br><br>
      
      <input type="submit" value="Submit Grade">
  </form>

{% endblock %}