{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class='s'>
  <h1><img src="/static/001-black.png"> Students</h1>
  <ul>
    {% for id, first, last, github in students %}
        <li> <a href="/student?github={{github}}">{{first}} {{last}}</a> <br> </li>
    {% endfor %}
  </ul>
  <a href="/add-student">Add a student</a>
  <br>
</div>

<div class='p'>
  <h1><img src="/static/002-multimedia.png"> Projects</h1>
  <ul>
    {% for id, title, description, max_grade in projects %}
        <li><a href="/project/{{title}}">{{title}}</a> <br></li>
    {% endfor %}
  </ul>
  <a href="/add-project">Add a project</a><br>
</div>

  <br><br><a href="/add-grade">Add a student grade</a><br>
  <a href="/student-search">Search a student</a>

{% endblock %}
