
{% extends 'base.html' %}

{% block title %}Student Info{% endblock %}

{% block content %}

  <h1>{{ first }} {{ last }}</h1>

  <p>GitHub Account: {{ github }}</p>

<!--   <ul>
    {% for project, grade in grades %}
        <li> Project: <a href="/project/{{project}}">{{project}}</a>, Grade: {{grade}} </li>
    {% endfor %}
  </ul> -->

    <table>
    <tr>
        <th>Project</th>
        <th>Grade</th>
    </tr>
  {% for project, grade in grades %}
    <tr>
        <td><a href="/project/{{project}}">{{project}}</a></td>
        <td>{{grade}}</td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
